.el-submenu .el-menu-item {
    font-size: 14px;
    padding-left: 50px!important;
}

.el-menu {
    border: none!important;
}

.el-table .cell {
    word-break: normal!important;
}

.el-tabs__header {
    margin: 0!important;
}

.el-dialog__body {
    padding: 0!important;
}

.el-form {
    padding-right: 0px!important;
}